/* cal/static/cal/css/styles.css */

.calendar {
    width: 98%;
    margin: auto;
    font-size: 13px;
    border-radius: 20px;
  }
  
  .calendar tr, .calendar td {
    border: 1px solid rgb(199, 174, 174);
    border-radius: 20px;
  }
  
  .calendar th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .calendar td {
    width: 200px;
    height: 150px;
    padding: 20px 0px 0px 5px;
    border-radius: 20px;
  }
  
  .month {
    font-size: 25px;
  }
  
  .date {
    font-size: 16px;
  }
  
  ul {
    height: 100%;
    padding: 0px 5px 0px 20px;
  }
  
  a {
    color: black;
    background-color: blanchedalmond;
    padding:6px;
    border-radius: 5px;
  }
  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
  
  .btn {
    outline: none;
    color: white;
    background-color: black;
    box-shadow: 0 0 0 0;
  }
  
  .clearfix {
    margin: 15px;
  }
  .form {
    margin: auto;
  }
  
  .form input, .form select, .form textarea {
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    background: none;
    padding: 5px;
    width: 100%;
    background-color: black;
    color: blanchedalmond;
  }
  body{
    background-color: black;
    background-image: url(./images/k.svg);
    color: darkgray;
    background-repeat: no-repeat;
  }
