{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        
    </head>
    <body>
        <div class="container">
        <div class="color">
        <h1>mosaic</h1>
        <div>
            {% if user.is_authenticated %}
                Hi <strong>{{ user.username }}</strong>!.
            {% else %}
                Not signed in.
            {% endif %}
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'auctions/images/b.svg' %}" height="80px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">Active Listings <span class="sr-only">(current)</span></a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'createlisting' %}">Createlisting</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'category' %}">Categories</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'mylist' %}">Mylist</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'won' %}">Won</a>
                  </li>
        
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                  </li>
                  {% endif %}
                
              </ul>
              <form id="search" method="POST" action="" class="form-inline my-2 my-lg-0">
                {% csrf_token %}
                <input type="search" class="form-control form-control mr-sm-2" id="txtSearch" name="txtSearch" placeholder="Search">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Submit</button>
                </form>

            </div>
          </nav>
        </div>
        <hr>
        <div class="footer">
            <div class="popcorn">
                <img src="{% static 'auctions/images/a.svg' %}" height="30%" class="img">
            </div>
          </div>
          
        {% block body %}
        {% endblock %}
        <footer>
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2021 Copyright
          </div>
        </footer>
    </div>
    
    
   
    </body>
</html>


